{% extends "base.html" %}

{% block title %}Unwanted Profiles{% endblock %}

{% block header %}Create a new profile:{% endblock %}

{% block content %}


    <div class="admin_panel">
        <form method="Post" action="{% url 'createRecord' %}">
            <div class="frmObject_container">
                <!-- Cross site request forgery (csrf_token) protection -->
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            <div class="frmBtn_container">
                <input type="submit" class="btn" value="Create New Profile" name="Save_Item">
                <a href="{% url 'contact_console' %}"><button type="button" class="btn" value="Cancel">Cancel</button></a>
            </div>
        </form>
    </div>


{% endblock %}