{% extends "base.html" %}

{% block title %}Unwanted Profiles{% endblock %}

{% block header %}Welcome to the Unwanted{% endblock %}

{% block content %}


<div class="admin_panel">
    <form name="ProfileForm" method="POST" action="">
        <div class="formObject">
            {% csrf_token %}
            <label for="menu_id">Select a profile form the list:</label>
            <select id="menu_id" name="menu" onChange="top.location.href=this.options[this.selectedIndex].value;">
            {% for profile in profiles %}
                <option value="../{{ profile.pk }}/details/">{{ profile.first_name }}</option>
            {% endfor %}
            </select>
            <div class="fromBtn_container">
                <a href="{% url 'createRecord' %}"><button type="button" class="btn">Create New Profile</button></a>
                <a href="{% url 'home' %}"><button type="button" class="btn">Logout of Profile</button></a>
            </div>
        </div>
    </form>
</div>



{% endblock %}